@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.Diagrams {
    overflow-y: scroll;
    padding: 2rem;
    margin: 0;
    font-family: "Roboto Slab";
    h1 {
        margin-top: 0;
        text-align: center;
    }
    h2 {
        margin-top: 0;
        text-align: center;
    }
}

.plotHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;;
}

.plotHolder h3 {
    flex-basis: 100%;
    text-align: center;
}
.plot {
    flex-basis: 50%;
}

.information {
    padding: 2rem;
    box-sizing: border-box;
    flex-basis: 50%;
    background-color: #F4F9FF;
    padding-bottom: 1rem;
}
.information h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.internalForces {
    overflow-y: scroll;
    padding: 2rem;
    margin: 0;
    font-family: "Roboto Slab";
    h1 {
        margin-top: 0;
        text-align: center;
    }
    h2 {
        margin-top: 0;
        text-align: center;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.internalForcesTable {
    align-self: center;
    th {
      padding: 0 2rem;  
      text-align: center;
    }
    .value {
        text-align: right;
    }
}