.form {
    padding: 0.5rem;
    max-width: 100%;
    box-sizing: border-box;
    input {
        margin: 0.5rem 0;
        width: 100%;
    }
    select {
        margin: 0.5rem 0;
        width: 100%;
    }
}

.form h1 {
    font-size: 1.6rem;
    font-style: normal;
    text-align: center;
}

.form input {
    box-sizing: border-box;
    max-width: 100%;
}

.form .button {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
}

.form .button:hover,
.form .button:active,
.form .button:focus {
    background-color: #666;
}

.form input[type="submit"]{
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 100%;
    box-shadow: none;
    border: none;
    background-color: #333;
    margin-top: 1rem;
}

.form input[type="submit"]:hover,
.form input[type="submit"]:active,
.form input[type="submit"]:focus{
    background-color: #666;
}